{% extends 'base.html' %}


{% block content %}
    
    <div id="app">


        <form @submit.prevent="createTask">
            <div class="form-group row">
                <div class="col-9">
                    <label for="">Create new task</label>
                    <input type="text" class="form-control" v-model="task.title" placeholder="Task name">
                </div>
                <div class="col-9 mb-5">
                    <label for="">Timeline</label>
                    <input type="text" class="form-control" v-model="task.timeline" placeholder="None">
                    <button class="btn btn-success">Create</button>
                </div>
            </div>
        </form>
        
        <div class="mt-5">
            <div class="card mb-3" v-for="task, index in tasks" :key="index">
                <div class="card-body row justify-content-between px-4"
                @dblclick="completeTask(task)" :class ="{'completed': task.completed}">
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Timeline</th>
                    </tr>
                    <tr>
                        <td>
                            <span v-show="!task.edit">
                                {task.title}
                            </span>
                            <input type="text" v-model="task.title" v-show="task.edit">
                        </td>
                        <td>
                            <span class="card-body mr-50" v-show="!task.edit">
                                {task.timeline}
                            </span>
                            <input type="text" v-model="task.timeline" v-show="task.edit">   
                        </td>
                        <td>
                            <button v-show="!task.edit" v-on:click="editTask(task)">edit</button>
                            <button v-show="task.edit" v-on:click="saveTask(task)">save</button>
                            <button v-show="task.edit" v-on:click="cancelTask(task)">cancel</button>
                            <button type="submit" class="btn-close" @click="deleteTask(task)"></button>
                        </td>
                    </tr>   
                </table> 
             </div>
            </div>
        </div>


    </div>

{% endblock %}